body {
  text-align: center;
}
table {
  margin: 40px auto;
}
.board {
  border-collapse: collapse;
  text-align: center;
  /*font-size: 50px;*/
  /*width: 360px;*/
  /*margin: 0 auto;*/
}

/*board td {
  width: 100px;
  height: 100px;
  text-align: center;
  border: 1px solid black;
  cursor: pointer;
}*/

.row {
  clear: both;
  overflow: hidden;
}
.square {
  float: left;
  width: 80px;
  height: 80px;
  cursor: pointer;
  text-align: center;
  padding-top: 10px;
  font-size: 70px;
}
.bottom {
  border-bottom: 2px solid black;
}
.right {
  border-right: 2px solid black;
}
